<div class="fromtop works-contents-wrapper <%= @classname %>">
    <% if @contents %>
    <h2><%= @name %></h2>

    <div class="date"><p><%= @date %></p></div>

    <img src="<%= @main_pic %>" alt="">

    <h3 style="border-left: 2px solid <%= @blcolor %>;">コンセプト</h3>
    <div class="main concepts"><%= @contents %></div>

    <h3 style="border-left: 2px solid <%= @blcolor %>;">メンバー</h3>
    <div class="main members rowlist">
        <ul>
        <% @members.each do |member| %>
            <li><%= member %></li>
        <% end %>
        </ul>
    </div>

    <% if @prizes %>
    <h3 style="border-left: 2px solid <%= @blcolor %>;">賞</h3>
    <div class="main members"><%= @prizes %></div>
    <% end %>

    <h3 style="border-left: 2px solid <%= @blcolor %>;">やくわり</h3>
    <div class="main role"><%= @role %></div>

    <h3 style="border-left: 2px solid <%= @blcolor %>;">カテゴリー</h3>
    <div class="main category rowlist">
        <ul>
        <% @categories.each do |c| %>
            <li><%= c %></li>
        <% end %>
        </ul>
    </div>

    <h3 style="border-left: 2px solid <%= @blcolor %>;">発表場所</h3>
    <div class="main place"><%= @place %></div>

    <h3 style="border-left: 2px solid <%= @blcolor %>;">発表時の段階</h3>
    <div class="main process"><%= @process %></div>

    <% if @language %>
    <h3 style="border-left: 2px solid <%= @blcolor %>">使用言語、技術、フレームワーク</h3>
    <div class="main language rowlist">
        <ul>
        <% @language.each do |lan| %>
            <li><%= lan %></li>
        <% end %>
        </ul>
    </div>
    <% end %>

    <% if @otherpics %>
    <h3 style="border-left: 2px solid <%= @blcolor %>;">参考写真</h3>
    <div class="otherpics">
        <ul>
        <% @otherpics.each do |l| %>
            <li><img src="<%= l %>" alt=""></li>
        <% end %>
    </div>
    <% end %>

    <h3 style="border-left: 2px solid <%= @blcolor %>;">関連リンク</h3>
    <div class="otherlinks">
        <ul>
        <% @links.each do |l| %>
            <li><a href="<%= l['uri'] %>" target="_blank" rel="noopener noreferrer"><%= l['text'] %></a></li>
        <% end %>
        </ul>
    </div>

    <h3 style="border-left: 2px solid <%= @blcolor %>;">その他の作品</h3>
    <div class="otherworks">
      <ul>
        <li>
          <a href="/works/grayswitch">
            <div class="imgwrapper">
              <img src="/img/gray-switch.jpg" alt="">
            </div>
            <div>
                <p>Gray Switch</p>
            </div>
          </a>
        </li>
        <li>
          <a href="/works/nowloading">
            <div class="imgwrapper">
              <img src="/img/nowloading2.png" alt="">
            </div>
            <div>
                <p>Now Loading</p>
            </div>
          </a>
        </li>
        <li>
          <a href="/works/tawamure">
            <div class="imgwrapper">
              <img src="/img/tawamure1.jpg" alt="">
            </div>
            <div>
                <p>た（わむ）れまく</p>
            </div>
          </a>
        </li>
        <li>
          <a href="/works/delter">
            <div class="imgwrapper">
              <img src="/img/delter.png" alt="">
            </div>
            <div>
                <p>Delter</p>
            </div>
          </a>
        </li>
        <li>
          <a href="/works/apimapforpersonalize">
            <div class="imgwrapper">
              <img src="/img/apimapforpersonalize.jpeg" alt="">
            </div>
            <div>
                <p>API map for personalize</p>
            </div>
          </a>
        </li>
        <li>
          <a href="/works/sotsuron">
            <div class="imgwrapper">
              <img src="/img/sotsuron.png" alt="">
            </div>
            <div>
                <p>磁性シートの磁力制御に基づく積層させた複数紙面への同時描画システム</p>
            </div>
          </a>
        </li>
        <li>
          <a href="/works/plottage">
            <div class="imgwrapper">
              <img src="/img/plottage.jpeg" alt="">
            </div>
            <div>
                <p>PLOTtage</p>
            </div>
          </a>
        </li>
        <li>
          <a href="/works/sutesute">
            <div class="imgwrapper">
              <img src="/img/sutesute.png" alt="">
            </div>
            <div>
                <p>すてすて</p>
            </div>
          </a>
        </li>
        <li>
          <a href="/works/kaihukai">
            <div class="imgwrapper">
              <img src="/img/kaihukai.jpeg" alt="">
            </div>
            <div>
                <p>快不快タイマー</p>
            </div>
          </a>
        </li>
        <li>
          <a href="/works/hanauta">
            <div class="imgwrapper">
              <img src="/img/hanauta.png" alt="">
            </div>
            <div>
                <p>花歌職人</p>
            </div>
          </a>
        </li>
        <li>
          <a href="/works/windgrass">
            <div class="imgwrapper">
              <img src="/img/windgrass.png" alt="">
            </div>
            <div>
                <p>WindGrass</p>
            </div>
          </a>
        </li>
        <li>
          <a href="/works/chinanago">
            <div class="imgwrapper">
              <img src="/img/chinanago.jpg" alt="">
            </div>
            <div>
                <p>チンアナゴ型ディスプレイ</p>
            </div>
          </a>
        </li>
        <li>
          <a href="/works/whisperspeakers">
            <div class="imgwrapper">
              <img src="/img/whisperspeakers.jpeg" alt="">
            </div>
            <div>
                <p>Whisper Speakers</p>
            </div>
          </a>
        </li>
        <li>
          <a href="/works/granavi">
            <div class="imgwrapper">
              <img src="/img/granaviimg.PNG" alt="">
            </div>
            <div>
                <p>Gra-Navi</p>
            </div>
          </a>
        </li>
        <li>
          <a href="/works/dancingwithtwitter">
            <div class="imgwrapper">
              <img src="/img/dancingwithtwitter.jpg" alt="">
            </div>
            <div>
                <p>Dancing with twitter</p>
            </div>
          </a>
        </li>
      </ul>
    </div>

    <% else %>
    <% end %>
</div>
